annotated-types==0.7.0
arrow==1.3.0
dacite==1.8.1
et-xmlfile==1.1.0
fqdn==1.5.1
htmlmin==0.1.12
ImageHash==4.3.1
isoduration==20.11.0
joblib==1.1.1
jsonpointer==3.0.0
llvmlite==0.41.1
missingno==0.5.2
mkl-service==2.4.0
multimethod==1.10
networkx==3.1
numba==0.58.1
pandas-profiling==3.2.0
phik==0.12.4
plotly==5.24.1
ply==3.11
pydantic==1.10.7
pydantic_core==2.23.4
PyQt5==5.15.10
PyWavelets==1.4.1
pywin32==305.1
scipy==1.10.1
sweetviz==2.3.1
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
tqdm==4.67.0
typeguard==4.4.0
types-python-dateutil==2.9.0.20241003
uri-template==1.3.0
visions==0.7.4
webcolors==24.8.0
webencodings==0.5.1
wordcloud==1.9.4
ydata-profiling==4.12.0
